@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root{
    --prmrClr: #5e595f;
    --scnfrClr: #272527;
    --txtClr: #ffffff;
    --bcgrClr: #151415;
    --accntClr: #8f8990;
}
body {
  font-family: 'Poppins';
  font-weight: 400;
  color: var(--txtClr);
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

/* --------------------------------------------------- */
.content{
    display: grid;
    grid-template-rows: 2fr 11fr 1fr;
    height: 100dvh;
}
.header{
    background-color: var(--prmrClr);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-self: center;
    justify-content: center;
    border-bottom: 35px solid var(--scnfrClr);
    height: 100%;
    
}
.tittle{
    padding: 15px;
    padding-left: 25px;
    align-self: center;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
}
.login{
    width: 150px;
    height: 45px;
    border-radius: 20px;
    align-self: center;
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainContent{
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}
.bodyCenter{
    display: grid;
    height: 100%;
    background-color: var(--bcgrClr);
    grid-template-columns: 3fr 1fr;
}


.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr 1fr 1fr;
    width: 350px;
    background-color: var(--accntClr);
    padding: 15px;
    border-radius: 15px;
    border-bottom: 15px solid var(--scnfrClr);
    align-items: center;
}
    .bookTittle{
        grid-area: 1/1/2/4;
    }
    .coverBook{
        grid-area: 2/1/3/3;
        align-self: center;
        justify-self: center;
        
        width: 100%;
    }
    .by{
        grid-row: 3/4;
        grid-column: 2/3;
    }
    .pages{
        grid-area: 3/1/4/2;
    }
    .buttonToggle{
        grid-row: 4/5;
        grid-column: 2/3;
        align-self: center;
        display: flex;
        justify-content: end;
        align-items: center;
    }
.addBook{
    background-color: var(--prmrClr);
    border-radius: 10px;
    margin: 20px 35px 0px 0px;
    padding: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-self: end;
    position: sticky;
    top: 20px;
}
.addBook *{
    margin-bottom: 25px;
}
hr{
    border-color: var(--bcgrClr);
    margin: 0px 50px 0px 50px;
}
.addButton{
    width: 100px;
    height: 60px;
    align-self: center;
    justify-self: center;
    border-radius: 25px;
    background-color: var(--prmrClr);
    transition: filter 0.15s ease-in-out;
    font-size: 1.333rem;
    font-family: 'Poppins';
    font-weight: 700;
    color: var(--txtClr);
}
.bookInputer{
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: var(--spacing-lg);
    border-radius: var(--border-radius);
    background-color: var(--grey);
    text-align: center;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in-out;
}
.bookInputer.actived{
    transform: translate(-50%, -50%) scale(1);
}
.formInputer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 15px 15px 15px;
    gap: 15px;
    border-radius: 15px;
    background-color: var(--prmrClr);
}
.formSubmit{
    width: 100px;
    height: 60px;
    align-self: center;
    justify-self: center;
    border-radius: 25px;
    background-color: var(--bcgrClr);
    border: none;
    color: var(--txtClr);
}
input{
    border-radius: 10px;
    padding: 5px;
}

.removeBook{
    grid-area: 4/1/5/2;
    margin: 5px;
    background-color: var(--prmrClr);
    padding: 10px;
    border-radius: 10px;
}






.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}


.slider.round {
    border-radius: 34px;
}


.slider.round:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50px;
}

/* When checked */
input:checked + .slider {
    background-color: rgb(125, 219, 125);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.overlay.actived {
    display: block;
}

.footer{
    background-color: var(--prmrClr);
    display: flex;
    align-self: center;
    justify-content: center;
   padding: 10px;
    grid-row: 3/4;
    height: 100%;
    align-items: center;
}
























